@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}


@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

@if (TempData["InfoMessage"] != null)
{
    <div class="alert alert-info">
        @TempData["InfoMessage"]
    </div>
}

<div class="container d-flex justify-content-center align-items-center">
    <div class="card p-4 shadow-lg" style="width: 350px;">
        <h3 class="text-center mb-4">Login</h3>

        @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()
    
            <div class="mb-3">
                @Html.LabelFor(m => m.Username, new { @class = "control-label"  })
                @Html.TextBoxFor(m => m.Username, new { @class = "form-control", @placeholder = "Enter username", required = "required" })
                @Html.ValidationMessageFor(m => m.Username)
            </div>

            <div class="mb-3">
                @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Enter password", required = "required" })
                @Html.ValidationMessageFor(m => m.Password)
            </div>

            <button type="submit" class="btn btn-primary w-100">Login</button>
        }
    </div>
 </div>



